<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmanlab.init_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <!-- https://qiita.com/Slowhand0309/items/b97c0059c0c3b8e45f8e -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_mob_app_key" />
        <!-- https://stackoverflow.com/questions/41114569/glide-javax-net-ssl-sslhandshakeexception-java-security-cert-certpathvalidato -->
        <activity android:name=".ui.settings.SettingsActivity" />
    </application>
</manifest>
